# Configurações do Banco de Dados PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=PregMath
DB_PASSWORD=senai
DB_PORT=5432

# Porta do servidor
PORT=3000

# Ambiente (development, production)
NODE_ENV=development

# Chave secreta para JWT 
JWT_SECRET=ChavedaPreguica
AUTH_USER=profMuller@adm.com
AUTH_PASSWORD=muller123
